.vf-validation-message--success {
  color: var(--vf-success);
}
.vf-validation-message--error,
.vf-validation-message--danger {
  color: var(--vf-danger);
}
.vf-validation-message--info {
  color: var(--vf-info);
}

.vf-validation-message--warning {
  color: var(--vf-warning);
}
.vf-validation-message {
  font-size: var(--vf-font-size-sm);
  line-height: var(--vf-line-height-md);
}
